<!doctype html>
<html>
  <head>
    <title>Digital Twins Project (Group 12)</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="title-card">
        <p class="badge"><b>Group 12 (2025-2026)</b></p>
        <h1>digital twins in mech engg</h1>
      </div>

      <div>
        <ul>
          <li>
            <p>Arsheya Singh Parmar</p>
            <p>2023A3PS0304P</p>
          </li>
          <li>
            <p>Saripella Keerthi</p>
            <p>2023A4PS1283P</p>
          </li>
        </ul>
      </div>

      <div>
        <a href="/data">
          <button>Check out data &#x2192;</button>
        </a>
      </div>
    </div>
  </body>
</html>
